<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hangzhi.dao.ClassMapper" >
  <resultMap id="BaseResultMap" type="com.hangzhi.bean.Class" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="school_id" property="schoolId" jdbcType="INTEGER" />
    <result column="grade" property="grade" jdbcType="SMALLINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="web_browser_pass_begin_time" property="webBrowserPassBeginTime" jdbcType="VARCHAR" />
    <result column="web_browser_pass_end_time" property="webBrowserPassEndTime" jdbcType="VARCHAR" />
    <result column="if_can_download_file" property="ifCanDownloadFile" jdbcType="TINYINT" />
    <result column="is_allowed_to_upgrade_ccs_client" property="isAllowedToUpgradeCcsClient" jdbcType="TINYINT" />
    <result column="level" property="level" jdbcType="TINYINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="is_use_nettime" property="isUseNettime" jdbcType="TINYINT" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, school_id, grade, name, web_browser_pass_begin_time, web_browser_pass_end_time, 
    if_can_download_file, is_allowed_to_upgrade_ccs_client, level, create_time, is_use_nettime, 
    remark
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.hangzhi.bean.ClassExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from class
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from class
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from class
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.hangzhi.bean.ClassExample" >
    delete from class
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hangzhi.bean.Class" >
    insert into class (id, school_id, grade, 
      name, web_browser_pass_begin_time, web_browser_pass_end_time, 
      if_can_download_file, is_allowed_to_upgrade_ccs_client, 
      level, create_time, is_use_nettime, 
      remark)
    values (#{id,jdbcType=INTEGER}, #{schoolId,jdbcType=INTEGER}, #{grade,jdbcType=SMALLINT}, 
      #{name,jdbcType=VARCHAR}, #{webBrowserPassBeginTime,jdbcType=VARCHAR}, #{webBrowserPassEndTime,jdbcType=VARCHAR}, 
      #{ifCanDownloadFile,jdbcType=TINYINT}, #{isAllowedToUpgradeCcsClient,jdbcType=TINYINT}, 
      #{level,jdbcType=TINYINT}, #{createTime,jdbcType=TIMESTAMP}, #{isUseNettime,jdbcType=TINYINT}, 
      #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hangzhi.bean.Class" >
    insert into class
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="schoolId != null" >
        school_id,
      </if>
      <if test="grade != null" >
        grade,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="webBrowserPassBeginTime != null" >
        web_browser_pass_begin_time,
      </if>
      <if test="webBrowserPassEndTime != null" >
        web_browser_pass_end_time,
      </if>
      <if test="ifCanDownloadFile != null" >
        if_can_download_file,
      </if>
      <if test="isAllowedToUpgradeCcsClient != null" >
        is_allowed_to_upgrade_ccs_client,
      </if>
      <if test="level != null" >
        level,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="isUseNettime != null" >
        is_use_nettime,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="schoolId != null" >
        #{schoolId,jdbcType=INTEGER},
      </if>
      <if test="grade != null" >
        #{grade,jdbcType=SMALLINT},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="webBrowserPassBeginTime != null" >
        #{webBrowserPassBeginTime,jdbcType=VARCHAR},
      </if>
      <if test="webBrowserPassEndTime != null" >
        #{webBrowserPassEndTime,jdbcType=VARCHAR},
      </if>
      <if test="ifCanDownloadFile != null" >
        #{ifCanDownloadFile,jdbcType=TINYINT},
      </if>
      <if test="isAllowedToUpgradeCcsClient != null" >
        #{isAllowedToUpgradeCcsClient,jdbcType=TINYINT},
      </if>
      <if test="level != null" >
        #{level,jdbcType=TINYINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isUseNettime != null" >
        #{isUseNettime,jdbcType=TINYINT},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hangzhi.bean.ClassExample" resultType="java.lang.Integer" >
    select count(*) from class
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update class
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.schoolId != null" >
        school_id = #{record.schoolId,jdbcType=INTEGER},
      </if>
      <if test="record.grade != null" >
        grade = #{record.grade,jdbcType=SMALLINT},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.webBrowserPassBeginTime != null" >
        web_browser_pass_begin_time = #{record.webBrowserPassBeginTime,jdbcType=VARCHAR},
      </if>
      <if test="record.webBrowserPassEndTime != null" >
        web_browser_pass_end_time = #{record.webBrowserPassEndTime,jdbcType=VARCHAR},
      </if>
      <if test="record.ifCanDownloadFile != null" >
        if_can_download_file = #{record.ifCanDownloadFile,jdbcType=TINYINT},
      </if>
      <if test="record.isAllowedToUpgradeCcsClient != null" >
        is_allowed_to_upgrade_ccs_client = #{record.isAllowedToUpgradeCcsClient,jdbcType=TINYINT},
      </if>
      <if test="record.level != null" >
        level = #{record.level,jdbcType=TINYINT},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.isUseNettime != null" >
        is_use_nettime = #{record.isUseNettime,jdbcType=TINYINT},
      </if>
      <if test="record.remark != null" >
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update class
    set id = #{record.id,jdbcType=INTEGER},
      school_id = #{record.schoolId,jdbcType=INTEGER},
      grade = #{record.grade,jdbcType=SMALLINT},
      name = #{record.name,jdbcType=VARCHAR},
      web_browser_pass_begin_time = #{record.webBrowserPassBeginTime,jdbcType=VARCHAR},
      web_browser_pass_end_time = #{record.webBrowserPassEndTime,jdbcType=VARCHAR},
      if_can_download_file = #{record.ifCanDownloadFile,jdbcType=TINYINT},
      is_allowed_to_upgrade_ccs_client = #{record.isAllowedToUpgradeCcsClient,jdbcType=TINYINT},
      level = #{record.level,jdbcType=TINYINT},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      is_use_nettime = #{record.isUseNettime,jdbcType=TINYINT},
      remark = #{record.remark,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hangzhi.bean.Class" >
    update class
    <set >
      <if test="schoolId != null" >
        school_id = #{schoolId,jdbcType=INTEGER},
      </if>
      <if test="grade != null" >
        grade = #{grade,jdbcType=SMALLINT},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="webBrowserPassBeginTime != null" >
        web_browser_pass_begin_time = #{webBrowserPassBeginTime,jdbcType=VARCHAR},
      </if>
      <if test="webBrowserPassEndTime != null" >
        web_browser_pass_end_time = #{webBrowserPassEndTime,jdbcType=VARCHAR},
      </if>
      <if test="ifCanDownloadFile != null" >
        if_can_download_file = #{ifCanDownloadFile,jdbcType=TINYINT},
      </if>
      <if test="isAllowedToUpgradeCcsClient != null" >
        is_allowed_to_upgrade_ccs_client = #{isAllowedToUpgradeCcsClient,jdbcType=TINYINT},
      </if>
      <if test="level != null" >
        level = #{level,jdbcType=TINYINT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isUseNettime != null" >
        is_use_nettime = #{isUseNettime,jdbcType=TINYINT},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hangzhi.bean.Class" >
    update class
    set school_id = #{schoolId,jdbcType=INTEGER},
      grade = #{grade,jdbcType=SMALLINT},
      name = #{name,jdbcType=VARCHAR},
      web_browser_pass_begin_time = #{webBrowserPassBeginTime,jdbcType=VARCHAR},
      web_browser_pass_end_time = #{webBrowserPassEndTime,jdbcType=VARCHAR},
      if_can_download_file = #{ifCanDownloadFile,jdbcType=TINYINT},
      is_allowed_to_upgrade_ccs_client = #{isAllowedToUpgradeCcsClient,jdbcType=TINYINT},
      level = #{level,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      is_use_nettime = #{isUseNettime,jdbcType=TINYINT},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>